In [34]:
import pandas as pd

In [35]:
"""import movie file with budget info"""
df_budget = pd.read_csv('tn.movie_budgets.csv.gz') # get the data for budget of movies
df_scraped = pd.read_csv('df_scraped.csv')
df_budget.rename(columns = {'movie': 'Title'}, inplace=True) # rename the movie column to title so it can be used as an index for joining 
df_budget.set_index('Title',inplace=True) # set the name as index

In [36]:
"""Clean budget data"""
df_budget['production_budget'] = df_budget['production_budget'].apply(lambda x: x.strip('$').replace(",","")) #Clean currency string   
df_budget['production_budget'] = df_budget['production_budget'].astype(float)/1000000 # Convert to integer and change the amount into millions

In [37]:
type(df_budget['production_budget'][0])# check to see if amount is numeric

numpy.float64

In [38]:
fulldf = pd.merge(df_scraped,df_budget['production_budget'],on ='Title') # add the budget column and release date to df_scraped
   
fulldf.rename(columns = {'production_budget':'Budget'}, inplace = True) # rename production budget to Budget

In [39]:
fulldf['Profit_percent'] = ((fulldf['Gross_Income'] - fulldf['Budget'] )/fulldf['Budget'])*100

In [41]:
fulldf.to_csv("fulldf.csv",index=False) # save this df as an excel file

In [42]:
#dff=df.groupby('Movie Genre').count()
#print(dff[dff.Title == dff.Title.max()]) 
fulldf.head()

,Title,Movie Rating,Year,Director,Gross_Income,Movie_Genre,Movie Runtime,IMDb Rating,Votes,Budget,Profit_percent
0,12 Years a Slave,R,2013,Steve McQueen,56.67,"['Biography', ' Drama', ' History']",134,8.1,620265.0,20.0,183.350000
1,127 Hours,R,2010,Danny Boyle,18.34,"['Biography', ' Drama']",94,7.6,340612.0,18.0,1.888889
2,2001: A Space Odyssey,G,1968,Stanley Kubrick,56.95,"['Adventure', ' Sci-Fi']",149,8.3,583273.0,10.5,442.380952
3,21 Grams,R,2003,Alejandro G. Iñárritu,16.29,"['Crime', ' Drama', ' Thriller']",124,7.7,220500.0,20.0,-18.550000
4,25th Hour,R,2002,Spike Lee,13.06,['Drama'],135,7.6,167303.0,4.5,190.222222

In [44]:
fulldf.sort_values(by='Budget')

,Title,Movie Rating,Year,Director,Gross_Income,Movie_Genre,Movie Runtime,IMDb Rating,Votes,Budget,Profit_percent
85,Clerks,R,1994,Kevin Smith,3.15,['Comedy'],92,7.7,208563.0,0.027,11566.666667
257,Once,R,2007,John Carney,9.44,"['Drama', ' Music', ' Romance']",86,7.8,108695.0,0.150,6193.333333
163,Halloween,R,1978,John Carpenter,47.00,"['Horror', ' Thriller']",91,7.8,220944.0,0.325,14361.538462
236,Monty Python and the Holy Grail,PG,1975,Terry Gilliam,1.23,"['Adventure', ' Comedy', ' Fantasy']",91,8.2,488848.0,0.400,207.500000
422,The Station Agent,R,2003,Tom McCarthy,5.74,"['Comedy', ' Drama']",89,7.6,66367.0,0.500,1048.000000
...,...,...,...,...,...,...,...,...,...,...,...
376,The Hobbit: An Unexpected Journey,PG-13,2012,Peter Jackson,303.00,"['Adventure', ' Family', ' Fantasy']",169,7.8,743683.0,250.000,21.200000
331,Tangled,PG,2010,Nathan Greno,200.82,"['Animation', ' Adventure', ' Comedy']",100,7.7,393633.0,260.000,-22.761538
354,The Dark Knight Rises,PG-13,2012,Christopher Nolan,448.14,"['Action', ' Adventure']",164,8.4,1471433.0,275.000,62.960000
38,Avengers: Infinity War,PG-13,2018,Anthony Russo,678.82,"['Action', ' Adventure', ' Sci-Fi']",149,8.4,786425.0,300.000,126.273333
37,Avatar,PG-13,2009,James Cameron,760.51,"['Action', ' Adventure', ' Fantasy']",162,7.8,1096667.0,425.000,78.943529

In [25]:
fulldf.head()

Empty DataFrame
Columns: [Title, Movie Rating, Year, Director, Gross_Income, Movie Genre, Movie Runtime, IMDb Rating, Votes, Budget, Profit_percent]
Index: []